.menupagetop {
    background-color: #F1F1F1;
    padding-bottom: 1px;
    border-radius: 0 0 33px 33px;
    padding: 0 15px 15px 15px;
}

.mpheader {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgba(241, 241, 241, 0.90);
    z-index: 2;
}

.backbutton {
    height: 20px;
    padding: 10px 5px 10px 5px;
}

.headertext {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    display: none;
}

.filters {
    background-color: white;
    align-items: center;
    padding: 0 15px 0 15px;
    height: 50px;
    position: sticky;
    top: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.filterline {
    margin: 0 0 7px 0;
    border: 0px solid #B2AEB9;
    border-bottom: 1px solid #7527F5;
}

.vegbutton {
    display: inline-flex;
    align-items: center;
    background-color: white;
    padding: 6px 9px 6px 9px;
    border: 1px solid #B2AEB9;
    border-radius: 19px;
}

.vegimg {
    width: 20px;
    padding-right: 8px;
}

.vegtext {
    font-size: 14px;
    font-weight: 800;
}

.reset {
    width: 16px;
    padding-left: 8px;
    display: none;
}

.selected {
    border: 2px solid #7427F5;
    background-color: rgba(116, 39, 245, 0.05);
}

.fixed {
    top: 0;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.hsearchlogo {
    width: 25px;
    padding: 5px;
    background-color: #7527F5;
    border-radius: 17.5px;
    display: none;
}

.backtitle {
    display: flex;
    align-items: center;
}

.fssaicard {
    padding: 15px 15px 90px 15px;
    background-color: #F1F1F1;
}

.fssaiholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed #9D9D9D;
    padding-bottom: 5px;
}

.fssailogo {
    width: 64px;
    padding: 5px;
}

.fssaino {
    font-size: 13px;
    color: #787878;
}

.frestaurantname {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 0 2px 0;
}

.fareaname {
    text-transform: capitalize;
    font-size: 12px;
    color: #787878;
}

.faddress {
    font-size: 12px;
    padding: 10px 0 20px 0;
    color: #787878;
}

.fdisclaimer {
    font-size: 13px;
    font-weight: 600;
}

.fnote {
    font-size: 12px;
    color: #787878;
    padding-left: 15px;
    margin-top: 5px;
}