@keyframes popcanimation {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(50%) scale(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0) translateY(0) scale(1);
    }
}

.cartpage {
    background-color: #F6F6F6;
}

.cartheader {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #F6F6F6;
    transition: background-color 0.3s linear;
    position: sticky;
    top: 0;
    z-index: 1;
}

.cartheaderbottom {
    padding: 10px 15px;
    background-color: #e4fdee;
    color: #09aa46;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 18px 18px;
    display: none;
    position: sticky;
    top: 60px;
    z-index: 1;
}

.tsavingsiconh {
    height: 18px;
}

.tsavingstexth {
    font-size: 13px;
    font-weight: 500;
    padding-left: 8px;
}

.cheadertext {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding-left: 10px;
    text-transform: capitalize;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.tsavingsholder {
    background-color: #e4fdee;
    color: #09aa46;
    padding: 10px;
    margin: 5px 15px;
    border: 1px solid #09aa46;
    border-radius: 12px;
    overflow: hidden;
    max-height: 24px;
    transition: max-height 0.3s linear;
}

.tsbackground {
    /* background-color: #09aa46; */
    /* Super Shady Design */
    /* background: linear-gradient(to bottom right, #09aa46, #82fa3d 10%, #49B707); */
    background: linear-gradient(to bottom, #09aa46, #82fa3d 70%, #09aa46);
}

.topspikecontainer {
    padding-bottom: 10px;
    height: 15px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.bottomspikecontainer {
    padding-top: 10px;
    height: 15px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.topspikeholder {
    background-image: url(./Source//spike.svg);
    height: 5px;
    background-repeat: repeat-x;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.8));
}

.bottomspikeholder {
    background-image: url(./Source//spike.svg);
    height: 5px;
    background-repeat: repeat-x;
    transform: rotate(180deg);
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.8));
}

.tsvisiblepart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
}

.tsdivider {
    border: none;
    border-top: 1px solid #09aa46;
    margin: 10px 0 0 0;
}

.tsavingschild {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.tsavingscontainer {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tsavingsicon {
    height: 24px;
}

.tsavingssmallicon {
    height: 18px;
    padding: 3px;
}

.tsavingstext {
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tsavsstext {
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightbutton {
    height: 16px;
    rotate: 90deg;
}

.cartheadings {
    margin: 0;
    padding: 25px 0 5px 0;
    font-size: 18px;
    font-weight: 800;
    color: #787878;
    text-align: center;
    letter-spacing: 3px;
}

.chsavings {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 18px;
    font-weight: 800;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

.citemsholder {
    background-color: white;
    padding: 0 15px;
    margin: 15px;
    border-radius: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.citem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #EBEBEB;
}

.citemnameholder {
    display: flex;
    padding: 15px 0;
    overflow: hidden;
}

.citemnamecontainer {
    overflow: hidden;
}

.cvegstatus {
    height: 15px;
    padding: 2px 8px 0 0;
}

.citemname {
    font-size: 14px;
    font-weight: 800;
    text-transform: capitalize;
}

.caddonsname {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    color: #787878;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-wrap: balance;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cqtnbtnholder {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0 15px 15px;
}

.caddedbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7427F5;
    font-weight: 800;
    font-size: 14px;
    width: 70px;
    height: 26px;
    padding: 0;
    border-radius: 6.5px;
    border: 1px solid #cacaca;
    background-color: white;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); */
}

.caddsub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    font-size: 20px;
    font-weight: 400;
}

.cpriceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.citemprice {
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
    text-decoration: line-through;
    color: #787878;
    text-wrap: nowrap;
}

.cdisplayprice {
    font-size: 13px;
    font-weight: 700;
    text-wrap: nowrap;
    margin-top: 5px;
}

.ccustomizebtn {
    font-size: 12px;
    font-weight: 800;
    color: #787878;
    display: flex;
    align-items: center;
}

.ccustomizebtn span {
    color: #7427F5;
    font-size: 20px;
    font-weight: 600;
    margin-top: -2px;
}

.cartholders {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.caddmorecontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cartholderdividers {
    border: none;
    border-top: 1px solid #EBEBEB;
    margin: 15px 0;
}

.cartholderdividersnm {
    border: none;
    border-top: 1px solid #EBEBEB;
    margin: 0;
}

.caddmore {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.caddmoretext {
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cookingholder {
    overflow: hidden;
}

.cookingheading {
    font-size: 14px;
    font-weight: 800;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cookingtext {
    font-size: 14px;
    font-weight: 500;
    margin: 3px 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #787878;
    border-bottom: 1px dashed #787878;
    max-width: fit-content;
}

.ccoupontext {
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartsideicons {
    height: 16px;
}

.crightbutton {
    height: 14px;
}

.ccouponremove {
    color: #F35858;
    font-weight: 800;
}

.cbdcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}

.tandcoverlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
}

.tandcpop {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 208px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: none;
    animation: popcanimation 0.3s ease;
}

.tandcheading {
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 2px solid #7427F5;
    text-align: center;
}

.tandctextholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0 0 0;
}

.tandctextholderl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
    border-top: 1px solid #EBEBEB;
    margin-top: 10px;
    padding: 10px 0 0 0;
}

.cbdcontainerlast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    overflow: hidden;
}

.cbdtextl {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.cbdtextlclick {
    font-size: 14px;
    font-weight: 600;
    color: #7427F5;
    border-bottom: 1px solid #7427F5;
    border-bottom-style: dashed;
}

.cbddeliveryfee {
    display: flex;
    gap: 8px;
}

.cbdtextr {
    font-size: 14px;
    font-weight: 600;
}

.cbdtextrscratch {
    font-size: 14px;
    font-weight: 600;
    color: #787878;
    text-decoration: line-through;
}

.cbdfree {
    font-size: 14px;
    font-weight: 800;
    color: #09aa46;
}

.cbdtextlarge {
    font-size: 16px;
    font-weight: 800;
}

.cptext {
    font-size: 13px;
    font-weight: 700;
}

.cptext span {
    color: #F35858;
    font-weight: 800;
}

.cptextb {
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}

.cartholderlast {
    background-color: white;
    padding: 15px;
    margin: 15px 15px 100px 15px;
    border-radius: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cartfooter {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px 15px 15px 15px;
    border-radius: 18px 18px 0 0;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
}

.cartaddress {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.calogo {
    height: 35px;
}

.cartaddressholder {
    padding-left: 10px;
    overflow: hidden;
}

.caddressname {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.caddressname span {
    font-weight: 800;
}

.cfulladdress {
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    color: #787878;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cfdivider {
    border: none;
    border-top: 2px solid #7427F5;
    margin: 0;
}

.cartpay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.cpaytext {
    font-size: 14px;
    font-weight: 600;
}

.cpayamount {
    font-size: 22px;
    font-weight: 800;
}

.cartpaybutton {
    width: 60%;
    height: 45px;
    font-size: 16px;
    font-weight: 800;
    border: 0;
    padding: 0;
    background-color: #7427F5;
    color: white;
    border-radius: 12px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.34);
}

.caaniholder {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.caanipopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
}

.caaniimage {
    width: 56px;
}

.caaniapplied {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}

.caanisavings {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}