.cartpage {
    background-color: #F6F6F6;
}

.cartheader {
    padding: 10px;
    background-color: #F6F6F6;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    height: 40px;
    overflow: hidden;
    transition: height 0.3s linear;
}

.cartheadertop {
    display: flex;
    align-items: center;
}

.cartheaderbottom {
    padding: 8px 15px;
    margin: 10px -10px -10px -10px;
    background-color: #eefce5;
    color: #49B707;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
}

.tsavingsiconh {
    height: 18px;
}

.tsavingstexth {
    font-size: 12px;
    font-weight: 400;
    padding-left: 8px;
}

.cheadertext {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    text-transform: capitalize;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.tsavingsholder {
    background-color: #eefce5;
    color: #49B707;
    padding: 10px;
    margin: 15px;
    border: 1px solid #49B707;
    border-radius: 12px;
    overflow: hidden;
    max-height: 24px;
    transition: max-height 0.3s linear;
}

.tsvisiblepart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
}

.tsdivider {
    border: none;
    border-top: 1px solid #49B707;
    margin: 10px 0 0 0;
}

.tsavingschild {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.tsavingscontainer {
    display: flex;
    align-items: center;
}

.tsavingsicon {
    height: 24px;
}

.tsavingstext {
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

.rightbutton {
    height: 16px;
    rotate: 90deg;
}

.cartheadings {
    margin: 0;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 800;
    color: #787878;
    text-align: center;
    letter-spacing: 3px;
}

.citemsholder {
    background-color: white;
    padding: 0 15px;
    margin: 15px;
    border-radius: 23px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.citem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #EBEBEB;
}

.citemnameholder {
    display: flex;
    padding: 15px 0;
}

.cvegstatus {
    height: 13px;
    padding: 3px 10px 0 0;
}

.citemname {
    font-size: 14px;
    font-weight: 600;
}

.cqtnbtnholder {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
}

.caddedbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7427F5;
    font-weight: 800;
    font-size: 14px;
    width: 70px;
    height: 26px;
    padding: 0;
    border-radius: 6.5px;
    border: 1px solid #787878;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.caddsub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    font-size: 20px;
    font-weight: 400;
}

.cpriceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.citemprice {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    text-decoration: line-through;
    color: #787878;
    text-wrap: nowrap;
}

.cdisplayprice {
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
    margin-top: 5px;
}