.loginpopover {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    background-color: white;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px -30px 25px white;
    height: 265px;
    animation: popoverAnimation 0.3s ease;
}

.loginwelmsg {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    color: #787878;
}

.numberboxholder {
    height: 54px;
    padding-bottom: 15px;
}

.numberboxbar {
    display: flex;
    padding: 10px;
    border: 1px solid #B2AEB9;
    border-radius: 27px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}

.numberbox {
    flex: 1;
    margin-right: 5px;
    padding: 0;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
}

.numberbox::placeholder {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.resetlogo {
    width: 20px;
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.36));
}

.telnoprefixholder {
    display: flex;
    align-items: center;
    padding: 0 15px 0 5px;
    font-size: 22px;
    font-weight: 800;
}

.prefixdivider {
    height: 20px;
    padding-left: 15px;
}

.telrbtn {
    display: none;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    border: none;
    background-color: transparent;
}

.getotpbutton {
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: #7427F5;
    border: 0;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.getotpbutton:disabled {
    background-color: #9B9B98;
    box-shadow: none;
}

.TandC {
    font-size: 12px;
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
    word-spacing: 1px;
}

.TandC span {
    color: #7427F5;
    font-weight: 800;
    text-decoration: underline;
}

.errormsgph {
    color: #D44222;
    text-align: center;
    padding-bottom: 5px;
    font-size: 12px;
}