.odpheader {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.odheadertext {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    overflow: hidden;
}

.odheadertoptext {
    font-size: 16px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
}

.odheaderbottom {
    display: flex;
    align-items: center;
    gap: 5px;
}

.oddelivered {
    font-size: 12px;
    font-weight: 800;
    color: #09aa46;
    overflow: hidden;
    text-overflow: ellipsis;
}

.odcancelled {
    font-size: 12px;
    font-weight: 800;
    color: #D44222;
    overflow: hidden;
    text-overflow: ellipsis;
}

.odinprogress {
    font-size: 12px;
    font-weight: 800;
    color: #F9B00C;
    overflow: hidden;
    text-overflow: ellipsis;
}

.odtimestatusdivider {
    height: 10px;
    border: none;
    margin: 0;
    padding-top: 1px;
    border-left: 1px solid #6E6D70;
}

.odheaderbottomtext {
    font-size: 12px;
    font-weight: 500;
    color: #6E6D70;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
}

.odhelpbutton {
    font-size: 14px;
    font-weight: 800;
    color: #FFFFFF;
    background-color: #7427F5;
    padding: 5px 15px;
    border-radius: 14.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.odsavingsheader {
    padding: 10px 15px;
    background-color: #e4fdee;
    color: #09aa46;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 18px 18px;
    position: sticky;
    top: 60px;
    z-index: 1;
}

.odfromtoholder {
    padding: 20px 15px;
}

.odfromholder {
    display: flex;
}

.odfromline {
    margin: 11px 18px 0 8px;
    border-left: 2px solid #D9D9D9;
    position: relative;
}

.odtoline {
    margin: 0 18px 11px 8px;
    border-left: 2px solid #D9D9D9;
    position: relative;
}

.odfromline::after {
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #7427F5;
    transform: translate(-50%, -50%);
    margin-left: -1px;
    position: absolute;
    top: 0;
}

.odtoline::after {
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #7427F5;
    transform: translate(-50%, 50%);
    margin-left: -1px;
    position: absolute;
    bottom: 0;
}

.odaddressheader {
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.odaddresslinetop {
    font-size: 14px;
    font-weight: 500;
    color: #6E6D70;
    margin: 2px 0 20px 0;
}

.odaddresslinebottom {
    font-size: 14px;
    font-weight: 500;
    color: #6E6D70;
    margin: 2px 0 0 28px;
}

.odfooditemsholder {
    background-color: #F6F6F6;
    padding: 0 15px;
}

.oditemnameholder {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
}

.odvegstatus {
    height: 16px;
    padding: 2px 12px 0 0;
}

.oditemnamecontainer {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    width: 100%;
}

.oditemname {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    padding-right: 15px;
}

.odpriceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.oditemprice {
    font-size: 14px;
    font-weight: 600;
    text-decoration: line-through;
    color: #787878;
    text-wrap: nowrap;
}

.oddisplayprice {
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
}

.odaddonsname {
    font-size: 12px;
    font-weight: 500;
    margin: -10px 0 0 28px;
    padding-bottom: 15px;
    color: #787878;
    text-transform: capitalize;
}

.oditemsdivider {
    margin: 0;
    border: none;
    border-bottom: 1px solid #EBEBEB;
}

.odcartholders {
    padding: 20px 15px;
}