@keyframes foodcardanimation {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.fullmenu {
    background-color: #F1F1F1;
    padding-bottom: 15px;
}

.menuheading {
    padding: 15px;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    color: #787878;
}

.catagory {
    background-color: white;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
    border-radius: 23px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cat {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
}

.catfixed {
    position: sticky;
    top: 120px;
    display: flex;
    justify-content: center;
    visibility: hidden;
    z-index: 1;
}

.catname {
    font-size: 12px;
    font-weight: 800;
    color: #3D167C;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    text-transform: capitalize;
}

.subcat {
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 800;
    color: #787878;
    border-top: 1px solid #EBEBEB;
    text-transform: capitalize;
}

.foodcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #EBEBEB;
    animation: foodcardanimation 0.3s ease;
}

.vegstatus {
    width: 20px;
    margin: 10px 10px 5px 0;
}

.itemname {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
    margin: 0 10px 10px 0;
    text-transform: capitalize;
}

.pricebox {
    display: flex;
}

.itemprice {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px 10px 0;
    text-decoration: line-through;
    color: #787878;
}

.displayprice {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px 10px 0;
}

.arrowright {
    height: 12px;
}

.morebutton {
    font-size: 12px;
    font-weight: 600;
    color: #787878;
    border: 1px solid #B2AEB9;
    border-radius: 15px;
    padding: 2px 6px 2px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    margin-bottom: 20px;
}

.fooditemside {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.foodimage {
    width: 150px;
    height: 135px;
    padding: 10px;
    margin-right: -25px;
    border-radius: 25px;
    object-fit: cover;
    margin-bottom: -34px;
}

.addbutton {
    color: #7427F5;
    font-weight: 800;
    font-size: 16px;
    width: 120px;
    height: 38px;
    margin-bottom: 20px;
    margin-right: -25px;
    border-radius: 10px;
    border: 1px solid #787878;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.notavailable {
    color: #787878;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    width: 120px;
    margin-bottom: 20px;
    margin-right: -25px;
    margin-top: -10px;
    border-radius: 10px;
    border: 1px solid #B2AEB9;
    background-color: white;
    padding: 5px;
    z-index: 0;
}

.custotext {
    font-size: 12px;
    margin-bottom: 20px;
    margin-right: -25px;
    margin-top: -15px;
}

.foodimageside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

