@keyframes popoverAnimation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.popoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.popover {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: white;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 90%;
    animation: popoverAnimation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fullimage {
    width: 100%;
    max-height: 100vw;
    object-fit: cover;
    margin-bottom: -50px;
}

.popfoodcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 15px 15px 15px;
}

.itemdescription {
    padding: 0 15px 35px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #787878;
}

.closebutton {
    position: fixed;
    right: 15px;
    padding-top: 15px;
    width: 25px;
}