.cuisineheading {
    margin: 0;
    padding: 15px 10px 0 10px;
    font-size: 18px;
}

.cuisineimg {
    width: 67px;
}

.cuisinename {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    height: 30px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cuisine {
    width: 67px;
    height: 130px;
    padding: 5px;
    margin: 0 10px 0 0;
    border-radius: 38.5px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
    background-color: white;
    text-transform: capitalize;
}

.cuisineholder::-webkit-scrollbar {
    display: none;
}

.cuisineholder {
    display: flex;
    padding: 15px 0px 15px 10px;
    overflow: scroll;
}

.cuisineset {
    background-color: #F8F8F8;
}

.linevisible {
    border:1px solid #7527F5;
  }