::placeholder {
    color: #B2AEB9;
    font-weight: normal;
}

::-webkit-search-cancel-button {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

input, button {
    font-family: inherit;
    color: inherit;
    outline-color: #7427F5;
}

p {
    margin: 0;
}

body {
    scroll-behavior: smooth;
}

strong {
    font-weight: 800;
}