::placeholder {
    color: #B2AEB9;
    font-weight: normal;
}

::-webkit-search-cancel-button {
    display: none;
}

p {
    margin: 0;
}

body {
    transition: all 0.3s ease-in-out;
    /* transform: translateX(0); */
    scroll-behavior: smooth;
    backface-visibility: hidden;
    /* will-change: transform; */
  }
  
  /* div:hover {
    transform: translateX(1px);
  } */
  