::placeholder {
    color: #B2AEB9;
    font-weight: normal;
}

::-webkit-search-cancel-button {
    display: none;
}

p {
    margin: 0;
}

body {
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
    backface-visibility: hidden;
  }